.cloud-animate-1 {
	-webkit-animation-duration: 20s;
  	-webkit-animation-name: cloudMove-1;
  	-webkit-animation-iteration-count: infinite;
  	-webkit-animation-direction: alternate;
}

.cloud-animate-2 {
	-webkit-animation-duration: 20s;
  	-webkit-animation-name: cloudMove-2;
  	-webkit-animation-iteration-count: infinite;
  	-webkit-animation-direction: alternate;
}

@-webkit-keyframes cloudMove-1 {
	25% {
		top : 10px;
	}

	50% {
		top: 50px;
	}

	75% {
		top: 20px; 
	}

	to { 	
		left: 10%	 
	}
}

@-webkit-keyframes cloudMove-2 {
	25% {
		top : 30px;
	}

	50% {
		top: 80px;
	}

	75% {
		top: 10px; 
	}

	to { 
		left: 90% 		
	}
}