.human-speak {
	color: #fff;
	float: left;
	-webkit-animation-duration: 3s;
  	-webkit-animation-name: humanLineAppear;
} 

.human-speak-delay-3 {
	-webkit-animation-delay: 3s
}

.human-speak-delay-6 {
	-webkit-animation-delay: 6s
}

.human-speak-delay-9 {
	-webkit-animation-delay: 9s
}

.human-speak-delay-12 {
	-webkit-animation-delay: 12s
}

.human-speak-delay-15 {
	-webkit-animation-delay: 15s
}

@-webkit-keyframes humanLineAppear{
	from{
		top: -50px;
		color: #fff;
	}
	20%{
		top: -40px;
		color: #000;
		z-index:10;
	}
	80%{
		top: -40px;
		color: #000;
		z-index:10;
	}
	to{
		top: -50px;
		color: #fff;
		z-index:1;
	}
}