.left-190 {
	left: 190px;
}

.bottom-25 {
	bottom: 25px;
}

.human {
	height:170px;
	width: 120px;

	position: absolute;
}

.lines {
	position: absolute;
	top: -20px;
	width: 220px;
	display: block;
}

.human-head-normal {
	border: 2px solid #000;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	position: absolute;
	top: 20px;
	left: 35px;
}
.human-body-normal {
	height: 60px;
	width: 3px;
	background: #000;
	left: 55px;
	top: 62px;
	position: absolute;
}

.human-arms-normal {
	width: 80px;
	height: 3px;
	position: absolute;
	background: #000;
	left: 18px;
	top: 75px;
}

.human-legs-normal {
	height:50px;
	width: 50px;
	border: 3px solid #000;
	border-bottom: none;
	border-right: none;
	position: absolute;
	left: 55px;
	top: 120px;

	-webkit-transform: rotate(45deg);
	-webkit-transform-origin: 1px 1px;
}