body {
	overflow: hidden;
}

.container {
	display: flex;
	margin: 20px;
	overflow: auto;
}

.nav {
	flex: 1 1 auto;
	height: 100vh;
	overflow-y: auto;
}

.content {
	flex: 4 1;
	height: 100vh;
}

dl {
	display: flex;
	flex-wrap: wrap;
}

dt {
	flex: 1 1 100%;
	margin-bottom: 20px;
}

dd {
	cursor: pointer;
	margin: 0;
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
}


dd a {	
	background-color: gainsboro;
	border: 1px solid white;
	border-radius: 10px;
	color: #2222AA;
	padding: 20px;
	display: block;
	font-size: 18px;
	text-decoration: none;
}

dd a:hover {
	background-color: #FAEBD7;
	color: #BDB76B;
}

dd a.active {
	background-color: rgb(56, 158, 199);
	color: rgb(255, 255, 255);
}

.frame {
	top: -12.5vh;
	left: calc(-12.5vw + 25px);
	position: relative;
	transform: scale(0.8);
}