body {
	overflow: hidden;;
}

.container {
	display: flex;
}

.nav {
	flex: 0 1 200px;
	height: 100vh;
	overflow-y: auto;
}

.content {
	flex: 4 1;
	height: 100vh;
}

dl {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0 10px;
}

dt {
	flex: 1 1 100%;
	margin-bottom: 8px;
}

dd {
	cursor: pointer;
	margin: 0;
}

dd a {	
	border: 1px solid white;
	border-radius: 10px;
	color: #2222AA;
	padding: 5px;
	display: block;
	font-size: 14px;
	text-decoration: none;
}

dd a:hover {
	background-color: #FAEBD7;
	color: #BDB76B;
}

dd a.active {
	background-color: rgb(56, 158, 199);
	color: rgb(255, 255, 255);
}

.frame {
	top: -12.5vh;
	left: calc(-12.5vw + 25px);
	position: relative;
	transform: scale(0.8);
}