.tree{
	width: 500px;
	height: 700px;
	position: absolute;
	bottom: 10px;
	right: 120px;
}

.tree-crowwn {
	position: absolute;
	border-radius: 50%;
	background-color: green;
	z-index: 2;
}

.tree-crowwn-left {
	top: 150px;
	width: 250px;
	height: 250px;
}

.tree-crowwn-top {
	left: 100px;
	width: 320px;
	height: 320px;
}

.tree-crowwn-right {
	top: 150px;
	left: 250px;
	width: 250px;
	height: 250px;
}

.tree-crowwn-bottom {
	top: 270px;
	left: 150px;
	width: 200px;
	height: 120px;
}

.tree-trunk {
	top: 350px;
	left: 170px;
	background-color: #5d2323;
	width: 180px;
	height: 280px;
	position: absolute;
	z-index: 1;
}

.tree-bottom {
	top: 630px;
	position: absolute;
}

.tree-root {
	background-color: #503333;	
	width: 20px;
	height: 30px;
	position: absolute;
}

.tree-root-left {
	left: 170px;
	-webkit-transform: matrix(1, 0, -0.5, 1, 0, 0);
	-webkit-transform-origin: right top;
}

.tree-root-middle {
	left: 250px;
	-webkit-transform: matrix(1, 0, -0.1, 1, 0, 0);
}

.tree-root-right {
	left: 330px;
	-webkit-transform: matrix(1, 0, 0.5, 1, 0, 0);
	-webkit-transform-origin: left top;
}