div {
	/*border: 1px solid #000;*/
}


/*位置选择器*/
.pos-a {
	position: absolute;
}

.pos-r {
	position: relative;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.m-hoz-auto {
	margin-left: auto;
	margin-right: auto;
}

.left-32 {
	left: 32px;
}

.left-5 {
	left: 5px;
}

.top-30 {
	top: 30px;
}

/*形状选择器*/
.circle {
	border-radius: 50%;
}


/*样式选择器*/
.bacc-white {
	background-color: white;
}

.bacc-black {
	background-color: black;
}

.bacc-brown-red {
	background-color: rgb(216, 5, 23);
}

.bacc-mouse-red {
	background-color: #E80115;
}

.bacc-mouse-orange {
	background-color: #EF6C1C;
}

.border-black-1 {
	border: 1px solid black;
}

.border-black-2 {
	border: 2px solid black;
}

.border-black-3 {
	border: 3px solid black;
}

/*卡通组件*/
.doraemon {
	height: 500px;
	width: 500px;
}

.head {
	background-color: rgb(2, 159, 227);
	height: 300px;
	margin: 0px auto;
	overflow: hidden;
	width: 310px;
}

.eyes {
	height: 80px;
	margin: -5px auto 0;
	padding-top: 10px;
	width: 120px;
}

.eye {
	border: 2px solid #000;
	box-sizing: border-box;
	height: 80px;
	width: 60px;
}

.eye-left {
	float: left;
	margin-left: 2px;
}

.eye-right {
	float: right;
	margin-left: 58px;
}

.eye-pupil {
	background-color: black;
	height: 18px;
	width: 18px;
}

.eye-pupil-left {
	 left: 32px;
}

.eye-pupil-right {
	 left: 5px;
}

.face {
	border-top-left-radius: 45% 60%;
	border-top-right-radius: 45% 60%;	
	border-bottom-left-radius: 60% 85%;
	border-bottom-right-radius: 60% 85%;
	height: 230px;
	margin: -30px auto;
	width: 270px;

	z-index: 5;
}

.nose {
	height: 38px;
	margin: 16px auto 0;
	width: 38px;
}

.nose-light {
	height: 10px;
	right: 10px;
	top: 8px;
	width: 10px;
}

.nasal-groove{
	height: 45px;
	width: 2px;
	z-index: 12;
}

.bread-field {
	height: 44px;
	width: 240px;
	z-index: 10;
}

.bread {
	height: 2px;
	width: 80px;
}

.bread-left {
	left: 10px;
	-webkit-transform-origin: right top;
}

.bread-left-1 {
	
	top: -5px;
	-webkit-transform: rotate(20deg);
}

.bread-left-2 {
	top: 10px;
	-webkit-transform: rotate(5deg);
}

.bread-left-3 {
	top: 20px;
	-webkit-transform: rotate(-15deg);
}

.bread-right {
	right: 10px;
	-webkit-transform-origin: left top;
}

.bread-right-1 {
	top: -5px;
	-webkit-transform: rotate(-20deg);
}

.bread-right-2 {
	top: 10px;
	-webkit-transform: rotate(-5deg);
}

.bread-right-3 {
	top: 20px;
	-webkit-transform: rotate(15deg);
}

.lips {
	height: 10px;
	width: 250px;
}

.lips-center {	
	height: 75px;
	overflow: hidden;
	width: 145px;
}

.lips-center-inside {
	border-top-left-radius: 65%;
	border-top-right-radius: 65%;
	border-style: none;
	border-top-style: solid;

	height: 75px;
	margin-left: -50px;
	width: 250px;
}

.lips-center-left {	
	height: 40px;
	margin-left: 10px;
	overflow: hidden;
	width: 40px;
}

.lips-center-left-inside {
	border-bottom-left-radius: 50% 50%;
	border-bottom-right-radius: 50% 50%;
	border-top:none;
	border-left:none;
	border-right:none;
	content: " ";
	display: block;
	height: 45px;
	margin-left: -30px;
	margin-top: -36px;
	width: 100px;
}

.lips-center-right {
	height: 40px;
	overflow: hidden;
	width: 40px;
}

.lips-center-right-inside {
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-top:none;
	border-left:none;
	border-right:none;
	content: " ";
	display: block;
	height: 45px;
	margin-left: -34px;
	margin-top: -37px;
	width: 100px;
}

.lips-left {
	border-top-left-radius: 60% 50%;
	border-top-right-radius: 0%;
	border-bottom-left-radius: 75% 50%;
	border-bottom-right-radius: 0%;
	border-right: none;
	height: 60px;
	left: -22px;
	top: -59px;
	width: 40px;

	-webkit-transform: rotate(15deg) ;
}

.lips-right {
	border-top-right-radius: 55% 50%;
	border-top-left-radius: 0%;
	border-bottom-right-radius: 80% 50%;
	border-bottom-left-radius: 0%;
	border-left: none;
	height: 60px;
	right: -22px;
	top: -59px;
	width: 40px;

	-webkit-transform: rotate(-9deg) ;
}

.mouth {
	border-bottom-left-radius: 50% 100%;
	border-bottom-right-radius: 50% 100%;
	border-top: none;
	height: 150px;
	margin-top:-50px;
	width: 240px;
}

.tongue {
	border-bottom-left-radius: 50% 100%;
	border-bottom-right-radius: 50% 100%;
	border-top: none;
	height: 65px;
	top: -30px;
	overflow: hidden;
	width: 170px;
}

.tongue-left {
	height: 65px;
	margin-top: 20px;
	margin-left: 15px;
	overflow: hidden;
	width: 80px;
	z-index: 2;
}

.tongue-left-inside {
	border-top-left-radius: 50% 80%;
	border-top-right-radius: 50% 80%;	
	border-bottom: none;

	height: 65px;
	width: 80px;
	z-index: 2;

	-webkit-transform: rotate(-45deg);
}

.tongue-right {	
	height: 60px;
	margin-top: -67px;
	margin-left: 83px;
	overflow: hidden;
	width: 80px;
	z-index: 3;
}

.tongue-right-inside {
	border-top-left-radius: 50% 80%;
	border-top-right-radius: 50% 80%;	
	border-bottom: none;
	margin-top: 2px;
	margin-left: -11px;
	height: 60px;
	width: 80px;
	z-index: 3;

	-webkit-transform: rotate(45deg);
}