div {
	/*border: 1px solid #000;*/
}


/*位置选择器*/
.pos-a {
	position: absolute;
}

.pos-r {
	position: relative;
}

.m-hoz-auto {
	margin-left: auto;
	margin-right: auto;
}

.left-32 {
	left: 32px;
}

.left-5 {
	left: 5px;
}

.top-30 {
	top: 30px;
}

/*形状选择器*/
.circle {
	border-radius: 50%;
}


/*样式选择器*/
.bacc-white {
	background-color: white;
}

.bacc-black {
	background-color: black;
}

.bacc-brown-red {
	background-color: rgb(216, 5, 23);
}

.border-black-1 {
	border: 1px solid black;
}

.border-black-2 {
	border: 2px solid black;
}

.border-black-3 {
	border: 3px solid black;
}

/*卡通组件*/
.doraemon {
	height: 500px;
	width: 500px;
}

.head {
	background-color: rgb(2, 159, 227);
	height: 300px;
	margin: 0px auto;
	overflow: hidden;
	width: 310px;
}

.eyes {
	height: 80px;
	margin: -5px auto 0;
	padding-top: 10px;
	width: 120px;
}

.eye {
	border: 2px solid #000;
	box-sizing: border-box;
	height: 80px;
	width: 60px;
}

.eye-left {
	float: left;
	margin-left: 2px;
}

.eye-right {
	float: right;
	margin-left: 58px;
}

.eye-pupil {
	background-color: black;
	height: 18px;
	width: 18px;
}

.eye-pupil-left {
	 left: 32px;
}

.eye-pupil-right {
	 left: 5px;
}

.face {
	border-top-left-radius: 45% 60%;
	border-top-right-radius: 45% 60%;	
	border-bottom-left-radius: 60% 85%;
	border-bottom-right-radius: 60% 85%;
	height: 230px;
	margin: -30px auto;
	width: 270px;

	z-index: 5;
}

.nose {
	height: 38px;
	margin: 16px auto 0;
	width: 38px;
}

.nose-light {
	height: 10px;
	right: 10px;
	top: 8px;
	width: 10px;
}

.nasal-groove{
	height: 45px;
	width: 2px;
	z-index: 12;
}

.bread-field {
	height: 45px;
	width: 240px;
	z-index: 10;
}

.bread {
	height: 2px;
	width: 80px;
}

.bread-left {
	left: 10px;
	-webkit-transform-origin: right top;
}

.bread-left-1 {
	
	top: -5px;
	-webkit-transform: rotate(20deg);
}

.bread-left-2 {
	top: 10px;
	-webkit-transform: rotate(5deg);
}

.bread-left-3 {
	top: 20px;
	-webkit-transform: rotate(-15deg);
}

.bread-right {
	right: 10px;
	-webkit-transform-origin: left top;
}

.bread-right-1 {
	top: -5px;
	-webkit-transform: rotate(-20deg);
}

.bread-right-2 {
	top: 10px;
	-webkit-transform: rotate(-5deg);
}

.bread-right-3 {
	top: 20px;
	-webkit-transform: rotate(15deg);
}

.lips {
	height: 75px;
	overflow: hidden;
	width: 250px;
}

.lips-center {
	border-top-left-radius: 65%;
	border-top-right-radius: 65%;
	border-style: none;
	border-top-style: solid;

	height: 75px;
	margin-left: -17px;
	width: 285px;
}

.lips-center-left {
	height: 50px;
	margin-left: -30px;
	margin-top: -50px;
	width: 100px;
}

.lips-center-right {

}

.lips-left {
	border-top-left-radius: 20px;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 30%;
	border-right: none;
	height: 50px;
	left: -25px;
	top: -50px;
	width: 50px;

	-webkit-transform: rotate(20deg) ;
}

.lips-right {
	border-top-right-radius: 50%;
	border-top-left-radius: 0%;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 40% 25%;
	border-left: none;
	height: 67px;
	right: -26px;
	top: -47px;
	width: 50px;

	-webkit-transform: rotate(0deg) ;
}