.container-ver-pos {
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
}


.pos-left-1 {
	left: 10%;
}

.pos-left-2 {
	left: 20%;
}

.pos-left-3 {
	left: 30%;
}

.pos-left-4 {
	left: 40%;
}

.pos-left-5{
	left: 50%;
}

.pos-left-6 {
	left: 60%;
}

.pos-left-7 {
	left: 70%;
}

.pos-left-8 {
	left: 80%;
}

.pos-left-9 {
	left: 90%;
}

.animate-delay-1{
	-webkit-animation-delay: .1s;
}
.animate-delay-2{
	-webkit-animation-delay: .2s;
}
.animate-delay-3{
	-webkit-animation-delay: .3s;
}
.animate-delay-4{
	-webkit-animation-delay: .4s;
}
.animate-delay-5{
	-webkit-animation-delay: .5s;
}
.animate-delay-6{
	-webkit-animation-delay: .6s;
}
.animate-delay-7{
	-webkit-animation-delay: .7s;
}
.animate-delay-8{
	-webkit-animation-delay: .8s;
}
.animate-delay-9{
	-webkit-animation-delay: .9s;
}
