.cloud{
	height: 150px;
	width: 250px;
}

.cloud-pos {
	position: absolute;
}

.cloud-pos-1 {
	left: 35%;
	top: 25px;
}

.cloud-pos-2 {
	left: 60%;
	top: 25px;
}

.cloud-bg {
	background-color: skyBlue;
}

.cloud-border {
	border: 2px solid #000;
}

.cloud-top {
	border-radius: 100%;
	border-width: 0px;
	height: 100px;
	left: 50%;
	margin-left:-75px;
	width: 150px;
}

.cloud-left {
	border-radius: 100%;
	border-width: 0px; 
	height: 100px;
	margin-top: -50px;
	top: 60%;
	width: 100px;
}

.cloud-right {	
	border-radius: 100%;
	border-width: 0px; 
	height: 100px;
	margin-top: -50px;
	right:0;
	top: 60%;
	width: 100px;
}
.cloud-bottom {	
	border-radius: 100%;
	border-width: 0px; 
	height: 100px;
	left:53%;
	margin-left: -75px;
	margin-top: -50px;
	top: 65%;
	width: 150px;
}