.human {
	height:170px;
	position: absolute;
	width: 120px;
}

.human-pos-1 {
	left: 250px;
	bottom: 25px;
}

.human-pos-2 {
	left: 40px;
	bottom: 60px;
}

.lines {
	display: block;
	position: absolute;
	top: -40px;
	width: 220px;
}

.human-head-normal {
	border: 2px solid #000;
	border-radius: 50%;
	height: 40px;
	left: 35px;
	position: absolute;
	top: 20px;
	width: 40px;
}
.human-body-normal {
	background: #000;
	height: 60px;
	left: 55px;
	position: absolute;
	top: 62px;
	width: 3px;
}

.human-arms-normal {
	background: #000;
	height: 3px;
	left: 18px;
	position: absolute;
	top: 75px;
	width: 80px;
}

.human-legs-normal {
	border: 3px solid #000;
	border-bottom: none;
	border-right: none;
	height:50px;
	left: 55px;
	position: absolute;
	top: 120px;
	width: 50px;

	-webkit-transform: rotate(45deg);
	-webkit-transform-origin: 1px 1px;
}

.human-legs-1 {
	border: 3px solid #000;
	border-bottom: none;
	border-right: none;
	height:50px;
	left: 55px;
	position: absolute;
	top: 120px;
	width: 50px;
	
	-webkit-transform: rotate(-2deg);
	-webkit-transform-origin: 1px 1px;
}